.mainlogin{  
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .childdiv{
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
  }
  .Metamasklogo{
    width: 200px;
    height: 200px;
  }
  .loginbtn{
    width: 100px;
    height: 50px;
    background-color: rgb(233, 155, 9);
  }
  .loginpara{
    color: aliceblue;
    font-weight: bold;
  }